<section class="contenedor">
    <div class="iconos">
        <div class="icono">
            <img src="../../../assets/img/icono-sonido.svg" alt="imagen-icono">
            <h3>Gran Sonido</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Earum, consequatur in reiciendis laborum deserunt, 
                totam voluptatem possimus dolorum sapiente impedit non eveniet 
                
            </p>
        </div>
        <div class="icono">
            <img src="../../../assets/img/icono-garantia.svg" alt="imagen-icono">
            <h3>Garantia de por vida</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Earum, consequatur in reiciendis laborum deserunt, 
                totam voluptatem possimus dolorum sapiente impedit non eveniet 
                
            </p>
        </div>
        <div class="icono">
            <img src="../../../assets/img/icono-bateria.svg" alt="imagen-icono">
            <h3>20 Horas de bateria</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Earum, consequatur in reiciendis laborum deserunt, 
                totam voluptatem possimus dolorum sapiente impedit non eveniet 
                
            </p>
        </div>
    </div>
</section>

<section class="sobre-tech">
    <div class="contenedor sobre-tech-grid">
        <div class="sobre-tech-texto">
            <h2>Sobre los <span>TechPRO</span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Neque numquam cum veniam, voluptatum pariatur nemo autem 
                culpa totam assumenda repudiandae laudantium cupiditate 
                non qui quas placeat at beatae vel tempora!
            </p>
        </div>
    </div>



</section>

<main class="contenedor modelos">
    <h2 class="text-center degradado-verde">Elige tus TechPRO</h2>
    <div class="listado-modelos">
        <div class="modelo modelo-x">
            <h3>TechPRO X</h3>
            <p class="precio">$299</p>
        </div>

        <div class="modelo modelo-y">
            <h3>TechPRO Y</h3>
            <p class="precio">$399</p>
        </div>

        <div class="modelo modelo-z">
            <h3>TechPRO Z</h3>
            <p class="precio">$499</p>
        </div>
    </div>
    
</main>

<section class="newsletter">
    <div class="contenido-newsletter contenedor">
        <div class="texto-newsletter">
            <h2>Recibe Actualizaciones</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ex doloremque deserunt placeat odio alias, enim assumenda ducimus consectetur 
                molestiae cum quis, qui tempora corrupti, recusandae non. 
                Eligendi accusantium corporis rerum.</p>
       
                <form class="formulario">
                    <div class="input">
                        <input type="text" placeholder="Tu Email">
                    </div>
                    <input type="submit" value="Inscribirme">
                </form>
        </div>

        
    </div>

</section>